body {
    background-color: white;
    color: black;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    margin: 0;
}

/*header*/
header {
    position: fixed;
    z-index: 999;
    height: 64px;
    width: 100%;
    background-color: white;
    text-align: center;
}


header .logo {
    display: inline-flex;
    padding-left: 24px;
    height: 100%;
}

.logo .header-logo {
    height: 70px;
}

.logo h1 {
    height: 32px;
    align-self: center;
}

.logo h1 .lgt-gray {
    color: lightgray;
}

nav {
    text-align: right;
    margin-right: 24px;
    flex-grow: 1;
}

header nav span {
    display: inline-block;
    padding: 20px 16px;
    font-size: 20px;
}

/*Main Section*/
main {
    padding-top: 65px;
}

/*Learn Something Section*/
.learning {
    background-color: lightgray;
}

.learn-something {
    align-items: center;
    background-color: lightgray;
}

.learn-something img {
    width: 60%;
    margin: 32px 24px;
}

.learn-something .learn-something-text {
    flex-grow: 1;
    padding-left: 24px;
}

.learn-something-text h1 {
    font-size: 40px;
}

.learn-something-text h3 {
    font-size: 20px;
}

.learn-something-text .start {
    color: white;
    background-color: gray;
    width: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

/*Keep Practicing Section*/
.keep-practicing {
    background-color: white;
    width: 100%;
    justify-content: center;
    padding: 32px 0px;
}

.section-1-practice {
    width: 50%;
    padding-right: 3.33%;
    padding-left: 3.33%;
    background-color: lightgray;
}

.section-1-practice img {
    width: 100%;
    padding-top: 16px;
}

.section-1-practice h1 {
    margin: 0;
    padding-bottom: 24px;
    padding-top: 32px;
}

.section-1-practice .section-1-practice-footer {
    margin-bottom: 16px;
}

.section-2-practice {
    width: 40%;
    margin-left: 3.33%;
}

.section-2-content {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    background-color: lightgray;
}

.section-2-content img {
    height: auto;
    width: 30%;
    padding: 16px 0px 16px 16px;
}

.section-2-content-content {
    width: 65%;
    padding-left: 15px;
}

.section-2-content-content h2 {
    font-size: 26px;
}

.section-2-content-content p {
    font-size: 19px;
}

.section-2-content-content .read-more {
    color: blue;
}

/*Courses Section*/
.learning {
    background-color: lightgray;
}

.learning h2 {
    text-align: center;
    padding: 32px 0px;
    font-size: 42px;
}

.learning-lower-container {
    padding: 0px 72px 32px 72px;
}

.courses-container {
    width: 30%;
    margin: 0px 32px 32px 0px;
    background-color: white;
}

.courses-container img {
    width: 100%;
    height: auto;
}

.courses-container div {
    padding: 16px 0px 24px 16px;
}

.courses-container div a:hover{
    color:blue;
    text-decoration: underline;
}

.courses-container div p {
    padding: 8px 0px;
    font-size: 18px;
}

/*Thesis Section*/
.thesis {
    width: 100%;
    margin-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    background-color: lightgray;
}

.thesis .thesis-header {
    text-align: center;
    padding: 32px 0px;
    font-size: 42px;
}

.thesis .thesis-main {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thesis-main .thesis-main-1 {
    flex-shrink: 1;
    width: 55%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.thesis-main-1 video {
    padding-bottom: 24px;
    width: 100%;
}

.thesis-main-1 h2 {
    padding-bottom: 8px;
}

.thesis-main .thesis-main-2 {
    width: 40%;
    height: auto;
}

.thesis-main-2 .thesis-main-2-children {
    display: inline-flex;
    width: 100%;
}

.thesis-main-2 .thesis-main-2-children:hover {
    background-color: white;
}

.thesis-main-2-children img {
    width: 35%;
    height: auto;
    padding: 16px 16px;
}

.thesis-main-2-children .thesis-main-2-children-container {
    width: 65%;
    align-self: center;
}

/*footer*/
footer {
    justify-content: center;
    width: 100%;
    display: inline-flex;
}

footer p {
    width: 40%;
    padding-left: 5%;
    padding-top: 16px;
    padding-bottom: 40px;
}

footer .footer-links {
    width: 50%;
    text-align: end;
    padding-right: 5%;
    padding-top: 16px;
}

.footer-links a {
    padding-right: 10px;
    font-size: 16px;
}