body{
    background-color: lightgray;
    color: black;
    margin: 0;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: black;
}
/*header*/
header{
    position: fixed;
    z-index: 999;
    height: 64px;
    width: 100%;
    background-color:white;
    text-align: center;
}


header .logo{
    display: inline-flex;
    padding-left: 24px;
    height: 100%;
}

.logo .header-logo{
    height: 70px;
}

.logo h1{
    height: 32px;
}

.logo h1 .lgt-gray{
    color: lightgray;
}

nav{
    text-align: right;
    margin-right: 24px;
    flex-grow: 1;
}

header nav span{
    display: inline-block;
    padding: 20px 16px;
    font-size: 20px;
}

/*Main Section*/
main{
    padding-top: 65px;
}

.learn-something{
align-items: center;
}

.learn-something img{
    width: 60%;
    margin: 32px 24px;
}

.learn-something .learn-something-text{
    flex-grow: 1;
    padding-left: 24px;
}

.learn-something-text h1{
    font-size: 40px;
}

.learn-something-text h3{
font-size: 20px;
}

.learn-something-text .start{
    color: white;
    background-color: gray;
    width: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}